@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Th.eot');
    src: url('HelveticaNeueLTPro-Th.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Th.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Th.woff') format('woff'),
        url('HelveticaNeueLTPro-Th.ttf') format('truetype'),
        url('HelveticaNeueLTPro-Th.svg#HelveticaNeueLTPro-Th') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdIt.eot');
    src: url('HelveticaNeueLTPro-MdIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdIt.woff') format('woff'),
        url('HelveticaNeueLTPro-MdIt.ttf') format('truetype'),
        url('HelveticaNeueLTPro-MdIt.svg#HelveticaNeueLTPro-MdIt') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThEx.eot');
    src: url('HelveticaNeueLTPro-ThEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThEx.woff') format('woff'),
        url('HelveticaNeueLTPro-ThEx.ttf') format('truetype'),
        url('HelveticaNeueLTPro-ThEx.svg#HelveticaNeueLTPro-ThEx') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdCnO.eot');
    src: url('HelveticaNeueLTPro-MdCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-MdCnO.ttf') format('truetype'),
        url('HelveticaNeueLTPro-MdCnO.svg#HelveticaNeueLTPro-MdCnO') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Roman.eot');
    src: url('HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Roman.woff') format('woff'),
        url('HelveticaNeueLTPro-Roman.ttf') format('truetype'),
        url('HelveticaNeueLTPro-Roman.svg#HelveticaNeueLTPro-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-Md.eot');
    src: url('HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-Md.woff2') format('woff2'),
        url('HelveticaNeueLTPro-Md.woff') format('woff'),
        url('HelveticaNeueLTPro-Md.ttf') format('truetype'),
        url('HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThCnO.eot');
    src: url('HelveticaNeueLTPro-ThCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-ThCnO.ttf') format('truetype'),
        url('HelveticaNeueLTPro-ThCnO.svg#HelveticaNeueLTPro-ThCnO') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThCn.eot');
    src: url('HelveticaNeueLTPro-ThCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThCn.woff') format('woff'),
        url('HelveticaNeueLTPro-ThCn.ttf') format('truetype'),
        url('HelveticaNeueLTPro-ThCn.svg#HelveticaNeueLTPro-ThCn') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdExO.eot');
    src: url('HelveticaNeueLTPro-MdExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdExO.woff') format('woff'),
        url('HelveticaNeueLTPro-MdExO.ttf') format('truetype'),
        url('HelveticaNeueLTPro-MdExO.svg#HelveticaNeueLTPro-MdExO') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdEx.eot');
    src: url('HelveticaNeueLTPro-MdEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdEx.woff') format('woff'),
        url('HelveticaNeueLTPro-MdEx.ttf') format('truetype'),
        url('HelveticaNeueLTPro-MdEx.svg#HelveticaNeueLTPro-MdEx') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-LtIt.eot');
    src: url('HelveticaNeueLTPro-LtIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-LtIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-LtIt.woff') format('woff'),
        url('HelveticaNeueLTPro-LtIt.ttf') format('truetype'),
        url('HelveticaNeueLTPro-LtIt.svg#HelveticaNeueLTPro-LtIt') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-MdCn.eot');
    src: url('HelveticaNeueLTPro-MdCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-MdCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-MdCn.woff') format('woff'),
        url('HelveticaNeueLTPro-MdCn.ttf') format('truetype'),
        url('HelveticaNeueLTPro-MdCn.svg#HelveticaNeueLTPro-MdCn') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtEx.eot');
    src: url('HelveticaNeueLTPro-UltLtEx.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtEx.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtEx.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtEx.ttf') format('truetype'),
        url('HelveticaNeueLTPro-UltLtEx.svg#HelveticaNeueLTPro-UltLtEx') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtExO.eot');
    src: url('HelveticaNeueLTPro-UltLtExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtExO.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtExO.ttf') format('truetype'),
        url('HelveticaNeueLTPro-UltLtExO.svg#HelveticaNeueLTPro-UltLtExO') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThIt.eot');
    src: url('HelveticaNeueLTPro-ThIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThIt.woff') format('woff'),
        url('HelveticaNeueLTPro-ThIt.ttf') format('truetype'),
        url('HelveticaNeueLTPro-ThIt.svg#HelveticaNeueLTPro-ThIt') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtIt.eot');
    src: url('HelveticaNeueLTPro-UltLtIt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtIt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtIt.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtIt.ttf') format('truetype'),
        url('HelveticaNeueLTPro-UltLtIt.svg#HelveticaNeueLTPro-UltLtIt') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtCn.eot');
    src: url('HelveticaNeueLTPro-UltLtCn.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtCn.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtCn.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtCn.ttf') format('truetype'),
        url('HelveticaNeueLTPro-UltLtCn.svg#HelveticaNeueLTPro-UltLtCn') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLtCnO.eot');
    src: url('HelveticaNeueLTPro-UltLtCnO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLtCnO.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLtCnO.ttf') format('truetype'),
        url('HelveticaNeueLTPro-UltLtCnO.svg#HelveticaNeueLTPro-UltLtCnO') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-UltLt.eot');
    src: url('HelveticaNeueLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-UltLt.woff2') format('woff2'),
        url('HelveticaNeueLTPro-UltLt.woff') format('woff'),
        url('HelveticaNeueLTPro-UltLt.ttf') format('truetype'),
        url('HelveticaNeueLTPro-UltLt.svg#HelveticaNeueLTPro-UltLt') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('HelveticaNeueLTPro-ThExO.eot');
    src: url('HelveticaNeueLTPro-ThExO.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTPro-ThExO.woff2') format('woff2'),
        url('HelveticaNeueLTPro-ThExO.woff') format('woff'),
        url('HelveticaNeueLTPro-ThExO.ttf') format('truetype'),
        url('HelveticaNeueLTPro-ThExO.svg#HelveticaNeueLTPro-ThExO') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

