.nav {
  background: "red" !important;
}
.paginationBreak{
  color: #fff;
  padding: 4px;
}

.customPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  @media (max-width: 575.76px){
    max-width: 370px;
    overflow-x: scroll;
    margin: auto;
    margin-bottom: 30px;
    

  }

  .selected {
    a {
      font-family: 'Helvetica Neue LT Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #FF6A63;
    }
  }

  li>a {
    text-decoration: none;
    font-size: larger;
    color: #fff;
    background-color: transparent;
    border: none;

    @media (max-width: 576.98px) {
      padding: 6px 5px;
    }
  }

  .previous {
    margin-right: 10px;

  }

  .next {
    margin-left: 10px;
  }

  .break {
    color: #fff;
  }

  .disabled {
    pointer-events: auto ! important;
    cursor: not-allowed ! important;
  }
}

.demoImg {
  height: calc(100vh - 90px);
  width: 100%;
  object-fit: cover;
}

.selectedBtn,
.normalBtn,
.previous,
.next,
.paginationBtnArea {
  font-family: "Helvetica Neue LT Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 14px;
  color: rgba(255, 255, 255, 0.6);

  @media (max-width: 576px) {
    margin: 0 10;
  }
}

.selectedBtn {
  color: #ff6a63;
  text-decoration: underline;
}

.mainPageLoader {
  display: flex;
  height: calc(100vh - 500px);
  align-items: center;
  justify-content: center;
  h1{
    color: #fff;
  }
}

.detailPageLoader{
  display: flex;
  height: calc(100vh - 71px);
  align-items: center;
  justify-content: center;
}

.paginationWrapper {
  margin: 56px 0;

  .paginationBtnArea {
    max-width: 350px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 10px;
      height: 0px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    @media (max-width: 575.98px) {
      max-width: 231px;
    }
  }


}

.mainPageContentWrapper {
  margin-left: 60px;
  margin-right: 51px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  @media (max-width: 991.98px) {
    // margin: 0 40px ;
  }

  @media (max-width: 575.98px) {
    margin: 0px 20px;
  }
}

.mainPageTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  margin-bottom: 32px;

  &.search {
    padding-top: 56px;
  }

  @media (max-width: 575.98px) {
    font-size: 18px;
    line-height: 27px;
  }
}

.parentContainer{
  width: 100%;
  height: 0;
  background-color: transparent;
  position: relative;
  padding-bottom: 56.25%;


}

.videoPlayer{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: center;
  top: 0;
  left: 0;

}

.videoModal {
  > .modal-dialog{
    min-width: 75%;
    .modal-content{
      background: transparent;
      border: 0px;
    }
  }
}
.closeIconContainer{
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent;
}

h1{
  h1{
    color: #fff;
  }
}

.ratingStarIcon{
  height: 15px;
}