@import "./assets/fonts/Helvetica-Font/index.css";
@import "./assets/fonts/Poppins/stylesheet.css";
@import "./assets//fonts/Helvetica-Font/stylesheet.css";
@import "./assets/fonts/helvetica-neue/stylesheet.css";

body {
  background-color: #0c111b !important;
}

.toastMessage {
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  margin-bottom: 0px;
}
